/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

 .CircularProgressbar {
   /*
    * This fixes an issue where the CircularProgressbar svg has
    * 0 width inside a "display: flex" container, and thus not visible.
    */
   width: 13vw;
   /*
    * This fixes a centering issue with CircularProgressbarWithChildren:
    * https://github.com/kevinsqi/react-circular-progressbar/issues/94
    */
   vertical-align: middle;
 }
 
 .CircularProgressbar .CircularProgressbar-path {
   stroke: #ffa608;
   stroke-linecap: round;
   -webkit-transition: stroke-dashoffset 0.5s ease 0s;
   transition: stroke-dashoffset 0.5s ease 0s;
 }
 
 .CircularProgressbar .CircularProgressbar-trail {
   stroke: #efefef;
   /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
   stroke-linecap: round;
 }
 
 .CircularProgressbar .CircularProgressbar-text {
   fill: #efefef;
   font-size: 20px;
   dominant-baseline: middle;
   text-anchor: middle;
 }
 
 .CircularProgressbar .CircularProgressbar-background {
   fill: #efefef;
 }
 
 /*
  * Sample background styles. Use these with e.g.:
  *
  *   <CircularProgressbar
  *     className="CircularProgressbar-inverted"
  *     background
  *     percentage={50}
  *   />
  */
 .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
   fill: #ffa608;
 }
 
 .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
   fill: #efefef;
 }
 
 .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
   stroke: #efefef;
 }
 
 .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
   stroke: transparent;
 }
 
 @media only screen and (max-width: 600px) {
  .CircularProgressbar{
      width: 20vw;
  }
}
@media only screen and (min-width: 768px) {
  .CircularProgressbar{
      width: 10vw;
  }
}
@media only screen and (min-width: 992px) {
  .CircularProgressbar{
     width: 5vw;
  }
}