.Card{
    background-color: #27282b;
    box-sizing: border-box;
    width: 50vw;
    height: 20vh;
    margin: 3vw;
    padding: 3vw;
    text-align: left;
    border-radius: 5px;
    border-left: solid 5px #ffa608;
}
.Card p{
    margin: 0;
    font-size: 1rem;
}
.Card i{
    color: #ffa608;
}


@media only screen and (max-width: 600px) {
    .Card{
        width: 72vw;
        height: 36vw;
        padding: 3vw;
        margin-top: 5vw;
    }
}
@media only screen and (min-width: 768px) {
    .Card{
        width: 40vw;
        height: 18vw;
        padding: 2vw;
    }
}
@media only screen and (min-width: 992px) {
    .Card{
        width: 30vw;
        height: 12vw;
        padding: 2.2vw;
        margin: 0 0 1vw 2vw;
    }
}
